* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
    color: white;
}

html, body{
    height: 100%;
    width: 100%
}

#cursor{
    height: 25px;
    width: 25px;
    background-color: rgb(231, 59, 211);
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    height: 400px;
    width: 400px;
    background-color: rgb(139, 11, 137);
    border-radius: 50%;
    position: fixed;
    filter: blur(100px);
    z-index: 9;
}

#nav{
    height: 50px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0 150px;
    gap: 50px;
    justify-content: flex-start;
    position: fixed;
    z-index: 9;
}

#nav img{
    height: 45px;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    font-size: 100px;
    font-weight: 800;
    position: relative;
}
#page h1::before{
    content: "EAT. DRINK. DANCE.";
    position: absolute;
    color: #000;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 2px #000;
    z-index: -1;
}
#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{
    font-size: 20px;
    font-weight: 500;
    width: 40%;
}
#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller{
    /*background-color: rgb(44, 152, 168); */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4{
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: Verdana;
    margin-right: 10px;
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 2px pink;
}
#scroller h4:hover{
    color: aqua;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translate(-100%);
    }
}

#about-us{
    height: 41vh;
    width: 100%;
    /*background-color: rgb(29, 100, 185);*/
    display: flex;
    position: relative;
    padding: 0 30px;
    z-index: 10;
    align-items: center;
    justify-content: space-around;
}
#about-us img{
    height: 250px;
    width: 300px;
    border-radius: 20px;
    object-fit: cover;
}
#about-us-in{
    width: 40%;
    text-align: center;
}
#about-us-in h3{
    font-size: 54px;
    font-weight: 800;
    font-family: Verdana;
    margin-bottom: 40px;
}
#about-us-in p{
    font-size: 18px;
    line-height: 26px;
}

#cards-container{
    /*background: #fc0505;*/
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;
}
.card{
    height: 80%;
    width: 24%;
    /*background-color: blue;*/
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}
#card1{
    background-image: url(https://assets-global.website-files.com/5dbb40d6d8c97447e9450447/60baaab004cd38de543dd7a1_STEEZY_BALLET-min.jpg)
}
#card2{
    background-image: url(https://assets-global.website-files.com/5dbb40d6d8c97447e9450447/615e128e6cd629d07d38baf1_SALSA_CATEGORY_THUMB-min.jpg);
}
#card3{
    background-image: url( https://assets-global.website-files.com/5dbb40d6d8c97447e9450447/60baaab0707f8ffece1e0ea3_STEEZY_POPPING-min.jpg);
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgb(189, 53, 220);
    padding-top: 160px;
    padding: 30px;
    transition: all ease 0.6s;
    opacity: 0;
}
.overlay h4{
    color: #000;
    font-size: 40px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 30px;
    font-weight: 800;
}
.overlay p{
    color: #000;
    font-size: 18px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}
#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom, pink, purple)
}
#green-div h4{
    width: 45%;
    line-height: 50px;
    font-size: 27px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}
#green-div img{
    height: 100%;
    object-fit: cover;
    width: 14%;
}
#page3{
    height: 100vh;
    width: 100%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#page3>p{
    font-size: 35px;
    font-weight: 700;
    width: 60%;
    line-height: 45px;
    text-align: center;
}
#page3 img{
    position: absolute;
    height: 60px;
}
#page3 #colon1{
    left: 15%;
    top: 25%;
}
#page3 #colon2{
    bottom: 30%;
    right: 15%;
}